{:deps    {org.clojure/clojure {:mvn/version "1.12.3"}
           com.hyperfiddle/hyperfiddle-agent {:mvn/version "v0-alpha-SNAPSHOT"}
           ring/ring {:mvn/version "1.15.3"}
           ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
           org.clojure/data.json {:mvn/version "2.5.1"}}
 :paths   ["src" "resources"]
 :aliases {:dev {:extra-paths ["src-dev"]}
           :prod {:extra-paths ["src-prod"]}
           :local {:override-deps
                     {com.hyperfiddle/hyperfiddle       {:local/root "../hyperfiddle"}
                      com.hyperfiddle/hyperfiddle-agent {:local/root "../hyperfiddle-agent"}}}
           :build {:extra-paths ["src-build"]
                   :ns-default  build
                   :extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.8"}}}}
 :mvn/repos
 {"clojars" {:url "https://repo.clojars.org/" :snapshots {:enabled true :update :always}}}}
