{:deps    {com.hyperfiddle/hyperfiddle {:mvn/version "v0-alpha-SNAPSHOT"}
           com.datomic/peer {:mvn/version "1.0.7075"}
           ;; ring/ring {:mvn/version "1.14.1"} ; jetty 12, works but message payload size tunning API has changed, we need to upgrade it.
           ring/ring {:mvn/version "1.11.0"} ; to serve the app
           ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
           }
 :paths   ["src" "resources"]
 :aliases {:dev {:extra-paths ["src-dev"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "2.26.2"}
                              ch.qos.logback/logback-classic {:mvn/version "1.4.14"}}}
           :prod {:extra-paths ["src-prod"]
                  :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.14"}}}
           :build ; use `clj -X:prod:build build-client`, NOT -T!
           {:extra-paths ["src-build"]
            :ns-default  build
            :extra-deps  {thheller/shadow-cljs          {:mvn/version "2.26.2"}
                          com.datomic/peer {:mvn/version "1.0.7075"}
                          io.github.clojure/tools.build {:mvn/version "0.10.8"}}}
           :jetty9 {:override-deps {ring/ring {:mvn/version "1.9.6"}}
                    :extra-deps    {ring/ring-jetty-adapter                       {:mvn/version "1.8.2"}
                                    ring/ring-servlet                             {:mvn/version "1.8.2"}
                                    org.eclipse.jetty.websocket/websocket-server  {:mvn/version "9.4.31.v20200723"} ; matching jetty version from ring-jetty-adapter
                                    org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.4.31.v20200723"}}}}
 :mvn/repos
 {"clojars" {:url "https://repo.clojars.org/" :snapshots {:enabled true :update :always}}}}
